menu "Heap memory"

    config MULTI_HEAP_MAX_OFFSETS
        int "Internal offset buffer"
        range 16 64
        default 16
        help
            Internal free operations are buffered
            This is the maximum number of internal operations

            See http://www.github.com/svenbieg/esp32-heap for more details

    config MULTI_HEAP_GROUP_SIZE
        int "Group size of heap map"
        default 8
        help
            Free space is mapped in a cluster
            This is the group size of the map

            See http://www.github.com/svenbieg/esp32-heap for more details

    config MULTI_HEAP_MAP_MAX_LEVELS
        int "Maximum heap map levels"
        range 8 64
        default 8
        help
            Free space is mapped in a cluster
            This is the maximum level of the map

            See http://www.github.com/svenbieg/esp32-heap for more details

endmenu
